*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/features/support/temp/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
templates.zip
templates 2/*
*.css
