/*

Get Home Safe NYC App

created by illuminati creative

*/



body {
	padding: 0;
	margin: 0;
	font-size: 24px;
	line-height: 105%;
}

.title {
	background-color: #000;
	border-bottom: solid 4px #fff;
	color: #fff;
	font-size: 225%;
	letter-spacing: -.05em;
	padding: 30px;
	width: 100%;
	position: fixed;
	z-index: 100000;
}

.title a, .title a:hover {
	color: #fff;
	text-decoration: none;
}

p {
	font-size: 60%;
}


li {
	list-style: none;
}

.sidebar {
	background-color: #eeeff3;
	right: 0;
	padding: 35px 20px 20px 20px;
	position: fixed;
	min-height: 800px;
	width: 283px;
}

.prompt {
	font-weight: bold;
}

ul.resources {
	margin: 0;
	padding: 0 20px 0 20px;
}
.resources li {
	font-size: 80%;
	margin: 5px;
}

.illcreative a {
	background: url("images/illuminati_logo.svg");
	color: #000;
	display: block;
	margin-top: 40px;
	text-indent: -9999em;
	width: 80px;
	height: 20px;
}


.listings {
	padding: 125px 20px 20px 20px;
	margin-left: 323px;
	width: 65%;
}

.form-search input {
	height: 28px;
	margin-top: 4px;
	width: 65%;
}

button {
	height: 38px;
	margin-top: 4px;
	width: 30%;
}

.single_listing {
	margin: 30px auto 30px auto;
}

.single_listing table {
	width: 100%;
}


.basic_info td {
	display: inline-block;
	text-align: center;
	height: 50px;
	width: 49%;
	font-size: 110%;
}

tr {
	margin-top: 10px;
	padding: 0 0 5px 0 ;
	width: 100%;
}

.statuses td {
	margin: 15px 0 0 0 ;
	text-align: center;
	display: inline-block;
	width: 19%;
}





/*Individual Page*/

.content h2 {
	border: solid 1px;
	border-top: solid 10px;
	font-size: 150%;
	float: left;
	padding: 10px;
	width: auto;
	min-width: 300px;
}

h2.safe {
	background-color: #000;
	border-top: double 15px;
	color: #fff;
	float: right;
	margin-top: -5px;
	width: 200px;
	min-width: 0;	
}

h2.not_safe {
	background-color: #f00;
	border-top: double 15px;
	color: #fff;
	float: right;
	margin-top: -5px;
	width: 200px;
	min-width: 0;
}

.statuses li {
	font-size: 125%;
	margin: 20px auto auto -20px;
	width: 250px;
}

.on {
	background-color: #000;
	border-top: double 15px;
	color: #fff;
	padding: 10px 0 15px 10px;
}

.off {
	background-color: #f00;
	border-top: double 15px;
	color: #fff;
	padding: 10px 0 15px 10px;

}


/*Boroughs*/

.navigation {
	background-color: #aaa;
	font-size: 55%;
	padding: 90px 0px 0px 0px;
}

.navigation ul {
	float: left;
	height: 100%;
	margin: 0 0px 0 0;
	padding: 0;
	width: 64%;
}

.navigation li {
	background-color: #aaa;
	border-right: solid 1px #fff;
	display: inline-block;
	width: 16%;
	margin: 0 0 0 -4px;
}

.navigation a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 23px 0 19px 0;
	width: 100%;
}

.all.current {
	background-color: #000;
}
.manhattan.current {
	background-color: #007dc7;
}
.queens.current {
	background-color: #289600;
}
.bronx.current {
	background-color: #e19e00;
}
.brooklyn.current {
	background-color: #da007e;
}
.staten_island.current {
	background-color: #632da9;
}




.search {
	float: right;
	margin-top: 10px;
	width: 35%;
}

.search form {
	margin-bottom: 5px;
}










@media screen and (max-width: 768px) {
	
	.title {
		font-size: 175%;
		padding-left: 15px;
	}
	
	.sidebar {
		float: none;
		padding: 110px 0px 20px 0px;
		position: relative;
		width: 100%;
		min-height: auto;
		height: auto;
	}
	
	.info p, h2 {
		padding: 0 20px 0 20px;
	}
	
	.resources li {
		display: inline-block;
	}
	
	.illcreative a {
		margin: 10px 0 0 20px;
	}
	
	.boroughs {
		padding: 0;
		margin: 0 auto;
		width: 90%;
	}
	
	.boroughs h2 {
		padding-left: 20px;
	}
	.boroughs ul {
		width: 90%;
		margin: 10px auto 0 auto;
	}
	
}














