<footer class="clearfix">
	<ul class="clearfix">
		<li>Website by <a href="http://www.illcreative.com" target="_blank">Illuminati Creative, LLC</a></li>
		<li><a href="#">Terms &amp; Conditions</a></li>
	</ul>
</footer>