<header>
	<h1 class="title"><a href="/">Get Home Safe NYC</a></h1>
	
	<div class="navigation clearfix">
		<div class="search">
      		<%= form_tag('/search', :class =>'form-search') %>
        		<input type="text" name="address" id="address" autofocus class="input-medium search-query" placeholder="Search...">
			  	<button type="submit" class="btn">Search</button>
			</form>
		</div>
	</div>
</header>
