<div class="sidebar">
	<section class="about">
		<h2>About</h2>
		<p>In the wake of Hurricane Sandy, many New Yorkers have been forced to evacuate their homes, unsure when they'll be able to return. The purpose of this site is to offer residents a way to share information about specific buildings, letting others know what to expect at their apartment and if it's safe to go home.</p>
	</section>
	<section>
		<p><span class="prompt">Do you know your building's status?</span> <br/><%= link_to "Update your neighbors here »", new_location_path %></a></p>
	</section>
	<section>
		<h3>Resources:</h3>
		<ul class="resources">
			<li><a href="http://www.nyc.gov" target="_blank">NYC.gov</a></li>
			<li><a href="https://twitter.com/notifynyc" target="_blank">Notify NYC</a></li>
			<li><a href="http://project.wnyc.org/transit-tracker/embed.html" target="_blank">Transit Tracker</a></li>
			<li><a href="http://google.org/crisismap/2012-sandy" target="_blank">Google Crisis Map</a></li>
			<li><a href="http://coned.com" target="_blank">Con Edison</a></li>
			<li><a href="http://www.disasterassistance.gov/" target="_blank">Disaster Assistance</a></li>
		</ul>
	</section>
	<section class="disclaimer">	
		<p><span class="prompt">Disclaimer: </span>The following information is for public informational purposes only and is not reviewed by the site owners. Get Home Safe NYC and its parents assume no responsibility to parties receiving and using the information. By using this website you acknowledge this.</p>
	</section>
</div>