<div class="boroughs">
  <h2>Search your building status</h2>
  <ul>
    <li class="manhattan"><a href="#">Manhattan »</a></li>
    <li class="bronx"><a href="#">Bronx »</a></li>
    <li class="queens"><a href="#">Queens »</a></li>
    <li class="brooklyn"><a href="#">Brooklyn »</a></li>
    <li class="staten_island"><a href="#">Staten Island »</a></li>
  </ul>
</div>
