<div class="boroughs">
  <h2>Search your building status</h2>
  <ul>
    <li class="manhattan"><a id="manhattan" href="search?borough=manhattan">Manhattan »</a></li>
    <li class="bronx"><a href="search?borough=manhattan">Bronx »</a></li>
    <li class="queens"><a href="search?borough=manhattan">Queens »</a></li>
    <li class="brooklyn"><a href="search?borough=manhattan">Brooklyn »</a></li>
    <li class="staten_island"><a href="search?borough=manhattan">Staten Island »</a></li>
  </ul>
</div>
