<h1 class="title">Get Home Safe NYC</h1>

<div class="info">

  <h2>About</h2>

  <p>In the wake of Hurricane Sandy, many New Yorkers have been forced to evacuate their homes, unsure when they'll be able to return. The purpose of this site is to offer residents a way to share information about specific buildings, letting others know what to expect at their apartment and if it's safe to go home.</p>

  <p></p>

  <p><span class="prompt">If you know the status of a building</span> <a href="#">please update your neighbors here.</a></p>

  <p>Resources:</p>
  <ul class="resources">
    <li><a href="http://www.nyc.gov">NYC.gov</a></li>
    <li><a href="https://twitter.com/notifynyc">Notify NYC</a></li>
    <li><a href="http://project.wnyc.org/transit-tracker/embed.html">Transit Tracker</a></li>
    <li><a href="http://google.org/crisismap/2012-sandy">Google Crisis Map</a></li>
    <li><a href="http://coned.com">Con Edison</a></li>
    <li><a href="http://www.disasterassistance.gov/">Disaster Assistance</a></li>
  </ul>

  <div class="illcreative"><a href="http://illcreative.com">illuminati</a></div>
</div>

<div class="boroughs">

  <h2>Search your building status</h2>
  <ul>
    <li class="manhattan"><a href="#">Manhattan »</a></li>
    <li class="bronx"><a href="#">Bronx »</a></li>
    <li class="queens"><a href="#">Queens »</a></li>
    <li class="brooklyn"><a href="#">Brooklyn »</a></li>
    <li class="staten_island"><a href="#">Staten Island »</a></li>
  </ul>
</div>
