<div class="press">
	<h2>New Web Service Helps NYers Return Home</h2>
	<p>A free web service is now available for residents of New York City to update and discover the status of critical resources at their homes and apartments in the wake of Hurricane Sandy: Get Home Safe NYC (<a href="http://gethomesafenyc.com">www.gethomesafenyc.com</a>)</p>
	<p>The website allows landlords and fellow residents to list their address and mark whether the residence has power, heat, running water, working elevators (if applicable) or has experienced flooding. Most importantly, they can indicate if it is safe to return to the residence. The information on the website is "crowdsourced," meaning the website users are providing the information listed. This offers the ability to provide the most accurate and up-to-date information by the people who live and work at the addresses listed.</p>
	<p>Get Home Safe NYC asks landlords, building/property managers, and residents to visit the site and add information for the buildings they are familiar with. The site is completely free to use, and is accessible on both desktop computers and mobile devices.</p>
	<p>Get Home Safe NYC was built in the wake of Hurricane Sandy by <a href="http://illcreative.com">Illuminati Creative</a> (www.illcreative.com), a boutique digital agency specializing in interactive design and development for web, iOS and Android applications.</p>
	<p>For more information, contact:</p>
	<p>Paul Molluzzo<br />
	Director, Client Engagement<br/>
	Illuminati Creative, LLC<br />
	<a href="mailto:paul@illcreative.com?subject=Get%20Home%20Safe%20NYC">paul@illcreative.com</a><br />
	212-380-7628 ext. 2</p>
	<p class="pounds">###</p>
</div>