/*

Get Home Safe NYC App

created by Illuminati Creative

*/
body{padding:0;margin:0;font-size:24px;line-height:90%;background-color:#eeeff3;-webkit-tap-highlight-color: rgba(0,0,0,0);}

h2{line-height:120%;margin-bottom:10px;}
p{font-size:60%;}
li{list-style:none;}
span.bold { font-weight: bold; }

.fbimg { position: absolute; left: -9999px; }

.blue { color: #007dc7; }
.green { color: #289600; }

/* Header */
.title{background-color:#000;color:#fff;font-size:225%;letter-spacing:-.05em;padding:30px 0 30px 0;width:100%;z-index:100000;}
.title a{padding:0 20px;}
.title a,.title a:hover{color:#fff;text-decoration:none;}

.container{padding:0;margin:0;width:1024px;margin:0 auto;background-color:#fff;-moz-box-shadow:0px 0px 4px #bebfc2;-webkit-box-shadow:0px 0px 4px #bebfc2;box-shadow:0px 0px 4px #bebfc2;overflow: hidden;}
.content{float:left;padding:0;width:684px;}

/* Sidebar */
.sidebar{margin:0;height:100%;width:330px;float:left;border-left:1px solid #ccc; max-width: 620px;margin-top: 0px}
.sidebar .wrap{padding:20px;}
.sidebar .search{ width: 300px; padding:6px 20px; margin: 0 0 0 0px; float: none; border: none; background-color: #dbdce0; }
.sidebar section{margin-bottom:30px;}
.sidebar h2{font-size: 80%;}
.sidebar a.update_link { margin-top: 10px; font-size: 120%;  display: inline-block; width:300px; padding: 10px 0; background: #aaa; color: white; text-align: center; font-size: 60%; font-weight: bold;-webkit-border-radius: 3px;
-moz-border-radius: 3px; border-radius: 3px;text-shadow: 1px 1px #555;}
.sidebar a.update_link:hover { text-decoration: none; background: #007dc7; border-radius: 3px;text-shadow: 1px 1px #005297;}
section.about p{color:#aaa;}
section.disclaimer p{color:#aaa;font-size:50%;}
section.disclaimer p .propmpt{color:#000;}

p.error { color: #c90000; border: 6px #c90000 solid; padding: 4px 10px; font-weight: bold; margin: 0; }
p.notice { color: #eea700; border: 6px #eea700 solid; padding: 4px 10px; font-weight: bold; margin: 0; }

.prompt,.disclaimer .prompt{font-size:100%;color:#000;font-weight:bold;}
ul.resources{margin:0 0 0 -5px;padding:0;}
.resources li{font-size:60%;margin:5px;}
.illcreative a{background-image:url(illuminati_logo.png) ;display:block;text-indent:-9999em;overflow:hidden;width:80px;height:20px;}
.listings{padding:125px 20px 20px 20px;margin-left:323px;width:65%;}
.location{clear:both;padding:0px;}
.location p{font-size:100%; line-height: 120%; padding: 20px;}
.form-search input{height:20px;margin:4px 0 0 0;width:65%;}
.form-search{margin:0;}
.location form{margin:0;background-color:#f7f7f9;padding:20px;}
fieldset{margin-bottom:15px;font-size:60%;}
fieldset label{font-size:120%;display:inline-block;width:200px;font-weight: bold;}
fieldset input{display:inline-block;}
fieldset input[type="radio"]{display:inline-block;}

fieldset input[type="text"]{width: 100%;max-width: 400px;}
fieldset.elevator label.radio{display:inline-block;width:auto;margin:0 20px 0 4px;padding:0;font-weight: normal;}
fieldset.address label{ display: block; }
fieldset .radios{display:inline-block;}

fieldset input[type="radio"]{}
.location input[type="submit"],.location input[type="button"]{margin:20px 5px 0 0;padding:10px 40px 10px 40px;}

/*Search*/ 
.search{float:right;margin:4px 0 8px 0;padding-right:10px;width:270px;background-color:#dbdce0; border: none; }
.search form{ padding: 0; margin:0;}
.search input[type="text"] {margin:0;}
 button{height:30px;margin-top:0px;width:28%;float:right;}
.single_listing{margin:30px auto 30px auto;}

/*Table*/
table{width:100%;}
.basic_info td{display:inline-block;text-align:center;height:50px;width:49%;font-size:110%;}
table th{color:#fff;background-color:#333;font-size:12px;font-weight:bold;margin:0;padding:11px 0 10px;}
table tr,table thead,table tbody{width:100%;}
tr.even{background-color:#eeeff3;}
td{margin:0;padding:10px;display:inline-block;font-size:14px;text-align:left;}
td.safety,th.safety{width:10%;text-align:center;}
td.safety{text-align:center;}
td.address,th.address{width:55%;}
td.updated,th.updated{width:20%;font-size:50%;text-align:left;}

/*Individual Page*/
.content h2{font-size:150%;float:left;padding:10px 20px;width:auto;margin:0;}
div.address{width:100%;background-color:#f7f7f9;}
div.address p{font-size:18px;line-height:42px;padding:20px;border-top:6px #000 solid;border-left:6px #000 solid;border-right:6px #000 solid;margin:0;font-weight: bold;}
.status{margin:0 0 -1px 0;width:100%;background-color:#000;}
.status.notsafe{background-color:#c90000;width:auto;border-left:6px #000 solid;border-right:6px #000 solid;}
.status.safe{background-color:#289600;width:auto;border-left:6px #000 solid;border-right:6px #000 solid;}

.status h2{color:#fff;;}
.content .status.safe h2 {background:url(../images/safe_title.svg) top left no-repeat; background-position: 20px 17px;padding:12px 20px 0 12px 40px; text-indent: 40px; }
.content .status.notsafe h2 {background:url(../images/notsafe_title.svg) top left no-repeat;background-position: 17px 17px;padding:12px 20px 0 12px 40px; text-indent: 40px;}
.status h4{padding:10px 20px 0 0px;margin:0;color:#fff;float:right;font-weight:normal;font-size: 10px;width: auto;}
.status h3.update{padding:0px 20px 0 0px;color:#fff;float:right;clear:right;width:auto;text-align:left;font-size:14px;font-weight: bold;}
.status p { font-size: 12px; }
h2.not_safe{background-color:#c90000;border-top:double 15px;color:#fff;float:right;margin-top:-5px;width:200px;min-width:0;}
.statuses{margin:0;background-color:#000;display:block;width:100%; padding: 10px 0 0; margin: 0 auto; }
.statuses li {font-size:60%;margin:5px 0;float:left;padding:0px 0px 0px 20px; color: #fff; text-align: center;}
.statuses li p {padding: 4px 8px 0; font-size: 11px; }
.status-footer { background: #000; }

/*Boroughs*/
.navigation{display:none;background-color:#fff;font-size:55%;padding:0;}
.navigation ul{float:left;height:100%;margin:0;padding:0;width:64%;}
.navigation li{background-color:#fff;display:inline-block;margin:0;}
.navigation a{display:block;color:#aaa;text-align:center;font-weight:bold;font-size:13px;padding:15px 15px 14px 15px;}
.navigation a:hover{color:#333;text-decoration:none;}
.current a{color:#fff;}
.all.current{background-color:#000;}
.manhattan.current{background-color:#007dc7;}
.queens.current{background-color:#289600;}
.bronx.current{background-color:#e19e00;}
.brooklyn.current{background-color:#da007e;}
.staten_island.current{background-color:#632da9;}

/*Map*/
.map {width: 100%;}
.map-holder {border: 6px #000 solid; border-top:none;}

/*Social Nav*/
.single ul.social { margin: 10px 20px; width: 210px; float: left; }
ul.social{float:left;margin:0px 0 0 20px;width:auto;}
ul.social li{float:left; margin: 0 10px 0 0;}
ul.social li a{font-size:14px;padding:0px;}
ul.social li a:hover{color:#fff;text-decoration:none;}

/*Utility Nav*/
ul.utility{margin:10px 20px 0 0;float:right;}
ul.utility li{float:left;font-size:60%;}
ul.utility li a{color: #fff;}

/*Footer*/
footer { clear: both; display: block; background-color: #000; padding: 20px 0 16px; }
footer ul.footer-nav{width:auto;float:right;margin-right: 20px; }
footer ul li{float:left;font-size:12px;color:#aaa;margin-left:20px;}
footer ul li a{color:#aaa;}
footer ul li a:hover{text-decoration:none;color:#fff;}


/*Terms*/
.terms { margin-bottom: 50px; }
.terms h2 { display: block; width: 100%; }
.terms p { font-size: 14px; padding: 20px; }
.terms ol { margin-left: 10%; width: 80%; }
.terms ol li { font-size: 12px; margin-bottom: 20px; list-style-type: decimal; }

/*Terms*/
.press h2 { display: block; width: 100%; }
.press p { font-size: 14px; padding: 5px 20px; }
p.pounds { display: block; text-align: center; width: 100%; }

@media (max-width: 959px) {
	.title{margin:0;}
	.navigation{display:block;border: none;}
	.navigation ul{width:100%;}
	.container{width:100%;}
	.content{padding:0;}
	.status.safe {border-top:6px #000 solid;}
	.status.notsafe {border-top:6px #000 solid;}	
	.search{float:left;margin:0;padding:10px 0;width:100%;}
	.search form{padding:0 20px;}
	.sidebar{border:none;width:auto;margin-top: 20px}
	.sidebar .wrap{margin-top:0px;}
	.sidebar .search{display:none;}
	.sidebar h2{font-size: 150%;}
	.content{float:none;width:auto;}
	.content table{padding:0;width:100%;}
}



@media (max-width: 767px) {
	
	body{padding-right:0;padding-left:0;}
	.title{font-size:200%;}
	.status.safe {border-top:6px #000 solid;}
	.status.notsafe {border-top:6px #000 solid;}
	.sidebar {margin-top: 20px}
	.sidebar .wrap{margin-top:0px;}
	.sidebar section{width:100%;float:left;}
	.sidebar .search{display:none;}
	.illcreative a{margin:10px 0 0 20px;}
	.boroughs{padding:0;margin:0 auto;width:90%;}
	.boroughs h2{padding-left:20px;}
	.boroughs ul{width:90%;margin:10px auto 0 auto;}
}

@media (max-width: 536px) {
	body{padding:0;}
	.title{font-size:130%;text-align:center;}
	.container{margin:0 auto;padding:0;width:100%;}
	.content{padding:0;border:none;}
	.status.safe {border-top:6px #000 solid;}
	.status.notsafe {border-top:6px #000 solid;}
  .status h4 { margin-bottom: -5px;}
	.content .status.safe h2 {background-position: 20px 17px;background-size: 20px 20px;padding:12px 20px 0 12px 20px; text-indent: 20px; }
	.content .status.notsafe h2 {background-position: 17px 17px;background-size: 20px 20px;padding:12px 20px 0 12px 20px; text-indent: 20px;}
	
	.navigation{display:block;}
	.navigation ul{display:none;margin:0;padding:0;width:100%;}
	.navigation li{background-color:#fff;display:block;margin:0;border-bottom:1px #aaa solid;}
	.navigation a{display:block;color:#aaa;text-align:center;font-weight:bold;font-size:13px;padding:15px 10px 14px 10px;}
	.search{margin-top:-1px;}
	ul.utility{margin:5px 0 15px 20px;float:left;}
	ul.utility li{ margin: 0;}
	.sidebar{min-height:inherit;position:relative;margin-top: 20px}
	.sidebar .wrap{margin-top:0px;}
	.sidebar .search{display:none;}
	.sidebar h2{font-size: 100%;}
	footer ul.footer-nav{width:auto;float:none;margin-left:18px;}
	ul.social{float:none;margin:20px 10px 0 20px;width:auto;}
	td.updated,th.updated{display:none;}
	
	footer ul.footer-nav{width:auto;margin: 20px auto; }
	.terms h2 { font-size: 100%; }
	.press h2 { font-size: 100%; }
	
}

@media (max-width: 320px) {
	body{padding:0;margin:0; }
	.container{margin:0; padding:0; width:100%; overflow: hidden;}	
	div.address p{font-size:14px;}
	.status.safe {border-top:6px #000 solid;}
	.status.notsafe {border-top:6px #000 solid;}
	
	.content .status.safe h2 {background-position: 10px 15px;background-size: 20px 20px;padding:12px 20px 0 12px 0px; text-indent: 15px; }
	.content .status.notsafe h2 {background-position: 7px 15px;background-size: 20px 20px;padding:12px 20px 0 12px 0px; text-indent: 15px;}
	
	.status h2 { font-size: 100%; display: inline; width: auto;}
	.status h4 { margin: -5px 0; }
	.status h3.update { font-size: 12px; display: inline;width: auto; padding-top: 0px;}
	.sidebar {  margin-top: 20px}
	.sidebar h2 {font-size: 80%;}
	.sidebar a.update_link { width: 280px; } 
	.statuses li { margin-right: 0px; padding: 0 0 0 10px ; }
	.statuses li a { font-size: 12px;}
	ul.utility{margin:10px 0 0 20px;float:left;}
	ul.utility li{ margin: 0;}
	fieldset div { margin-top: 10px; }
	.terms h2 { font-size: 80%; }
	.press h2 { font-size: 80%; }
	td.address,th.address{width:75%;}
}