<div class="content clearfix">
	<table>	
	<thead>
		<tr>
			<th class="safety">Status</th>			
			<th class="address">Address</th>
			<th class="updated">Last Updated</th>
			<th class="facebook"></th>
			<th class="twitter"></th>
		</tr>
	</thead>
	</table>
	<table>
		<tbody>
			<tr class="odd">
				<td class="safety not_safe"><img src="images/notsafe.svg"/></td>			
				<td class="address"><a href="#">300 E 56th St. New York, NY 10022</a></td>
				<td class="updated">Oct. 31, 12:00pm</td>
				<td class="facebook">FB</td>
				<td class="twitter">TW</td>
			</tr>
			<tr class="even">
				<td class="safety not_safe"><img src="images/safe.svg"/></td>			
				<td class="address"><a href="#">300 E 56th St. New York, NY 10022</a></td>
				<td class="updated">Oct. 31, 12:00pm</td>
				<td class="facebook">FB</td>
				<td class="twitter">TW</td>
			</tr>
		</tbody>
	</table>
</div>
