<div class="content">
	<section class="single">
		<div class="status <%=is_safe(@location)%> clearfix">
			<h2><%=safe_label(@location)%></h2>
			<h3 class="update"><%= @location.updated_at.strftime("%m/%d/%Y %I:%M%p") %></h3>
		</div>
		<div class="address clearfix">
			<p><%= @location.address %></p>
		</div>
		<ul class="statuses clearfix">
			<li class="on">Power On</li>
			<li class="on">Water On</li>
			<li class="on">Heat On</li>
			<li class="off">Flooding</li>
			<li class="off">Elevators</li>						
		</ul>
		<!--<ul class="social">
			<li><a href="#">Facebook</a></li>
			<li><a href="#">Twitter</a></li>						
		</ul>-->
	</section>
</div>
